.navbar {
  @apply absolute top-0 left-0 w-screen;
  // background: rgba(255, 255, 255, 0.1);
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);

  @apply flex justify-between items-center px-10;

  .main {
    @apply text-4xl cursor-pointer;
    font-family: "Jersey 10", sans-serif;
  }
  .items_container {
    .items {
      @apply flex items-center gap-10;
      list-style: none;

      li {
        cursor: pointer;
      }
      .profile {
        @apply flex items-center gap-2;
      }
      .username {
        @apply font-bold;
      }
      .button {
        @apply p-2 rounded-md pl-6 pr-6 font-semibold bg-teal-300 cursor-pointer;
      }
    }
    .tab {
      @apply font-bold;
    }
  }
}
